[submodule "biscuit"]
	path = externals/biscuit
	url = https://git.eden-emu.dev/eden-emu/biscuit.git
[submodule "catch"]
	path = externals/catch
	url = https://git.eden-emu.dev/eden-emu/Catch2.git
[submodule "fmt"]
	path = externals/fmt
	url = https://git.eden-emu.dev/eden-emu/fmt.git
[submodule "mcl"]
	path = externals/mcl
	url = https://git.eden-emu.dev/eden-emu/mcl.git
[submodule "oaknut"]
	path = externals/oaknut
	url = https://git.eden-emu.dev/eden-emu/oaknut.git
[submodule "xbyak"]
	path = externals/xbyak
	url = https://git.eden-emu.dev/eden-emu/xbyak.git
[submodule "zycore"]
	path = externals/zycore
	url = https://git.eden-emu.dev/eden-emu/zycore-c.git
[submodule "zydis"]
	path = externals/zydis
	url = https://git.eden-emu.dev/eden-emu/zydis.git
[submodule "unordered_dense"]
	path = externals/unordered_dense
	url = https://github.com/Lizzie841/unordered_dense.git
